body {
    font-size: 15pt;
    margin: 0px;
    padding: 0px;
    background-image: url(assets/fundo.png);
    /*background-size: 100%;*/
}

.base{
  position: fixed;
  display: grid;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  /*background-color: red;*/
}
/*
.jb{
  display: grid;
}*/

.by{
  height: 50px;
  width: 200px;
}

.valor_e_ajuda{
  margin: 8px;
}

.ol{
  
}

.button-3d {
  cursor: pointer;
  position:relative;
  /*width: auto;*/
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}

.haiaa{
  width: 100px;
}
